:root {
    --main-1: #72816e;
    --main-2: #9aaf95;
    --main-3: #a1c398;
    --main-4: #c8d5c5;
    --contrast-1: #fa7070;
    --contrast-shadow: rgba(250, 112, 112, 0.4);
    --base-1: #fefded;
    --base-2: #fffffa;
}

/* https://colorhunt.co/palette/fa7070fefdedc6ebc5a1c398 */
