---
import Section from "../Section.astro"
import ReactFilterButtons from "../ReactFilterButtons";
import { skills } from "@cv"

---

<Section title="Skills">
  <ReactFilterButtons skills={skills} client:load />
</Section>


